@use '../../scss/' as *;

.logo {
  padding-left: 0.5%;
  padding-top: 0.5%;

	@include flex(center, unset);

	img {
		margin-right: 10px;
    width: 150px;

    @include mobile {
      width: 30px;
      margin-right: 0;
    }
	}
}

.movies {
  text-align: left;
  font-size: 60%;
  padding-left: 0.5%;
  padding-bottom: 0.5%;

  // padding-left: 100px;
}

.movies:hover {
  color: $main-color;
}