@use '../../scss/' as *;

.logo {
	padding-left: 0.5%;
	padding-top: 0.5%;

	@include flex(center, unset);

	img {
		margin-right: 10px;
		width: 110px;

		@include mobile {
			width: 30px;
			margin-right: 0;
		}
	}
}

.movies {
	text-align: left;
	font-size: 60%;
	padding-left: 0.5%;
	padding-bottom: 0.5%;

	// padding-left: 100px;
}

.movies:hover {
	color: $main-color;
}

.header {
	height: $header-height;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	transition: height 0.3s ease, background-color 0.3s ease;

	&.shrink {
		height: $header-shrink-height;
		background-color: $body-bg;
	}

	&_wrap {
		@include flex(center, space-between);
		height: 100%;
		padding: 0 2rem;

		@include mobile {
			justify-content: center;
		}

    &_nav {
      @include flex(center, unset);

      & > * ~ * {
        margin-left: 2rem;
      }

      li {
        padding: 5px 0;
        font-weight: 700;
        position: relative;
        font-size: 1.5rem;
      }
    }
	}
}
