@use '../../scss/' as *;

.logo {
	@include flex(center, unset);

	img {
		margin-right: 10px;
    width: 150px;

    @include mobile {
      width: 30px;
      margin-right: 0;
    }
	}
}

.movies {
  padding-left: 100px;
}

.movies:hover {
  color: $main-color;
}